:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;

  --first-brand-color: #e5e1e2;
  --second-brand-color: #2ba04c;

  --main-font: 'Roboto';
  --title-font: 'Roboto Medium';

  font-size: 62.5%;
}
